body {
  font-family: Arial;
  text-align: center;
  background: #e6f7ff;
}

h1 {
  color: #004d66;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px auto;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}